.git
.github
node_modules
vendor
.env
.env.*
*.log

apps/frontend/node_modules
apps/frontend/dist

apps/backend/vendor
apps/backend/storage/logs/*.log
apps/backend/.env
apps/backend/.env.*
apps/backend/bootstrap/cache/*.php

apps/ai-service/.venv
apps/ai-service/__pycache__
apps/ai-service/.pytest_cache
apps/ai-service/**/*.pyc
